# ML libraries
pandas==2.2.0
numpy==1.26.3
scikit-learn==1.4.0

# Experiment tracking and registry
mlflow==2.10.0

# Feature store
feast==0.47.0

# API management
fastapi==0.109.0
uvicorn==0.27.0
httpx==0.26.0

# Data validation and testing
great-expectations==0.18.8

# Monitoring
evidently==0.7.20

# Testing
pytest==8.0.0
pytest-cov==4.1.0

# Utils
pyarrow==15.0.0
pydantic==2.6.0